<h2>Liste des actions</h2>
<div class='table-section'>
  <table>
    <tr>
      <th>N° de l'action</th>
      <th>Nom de l'action</th>
    </tr>
    <% @actions.each do |a| %>
        <tr>
          <td><%= a.id%></td>
          <td><%= a.name %></td>
        </tr>
    <% end %>
  </table>
</div>

<div class="table-actions">
  <%= link_to :action=> :new do %>+Ajouter<% end %>
</div>