<h2>Listes des traders</h2>
<div class='table-section'>
  <table>
    <tr>
      <th>Nom du trader</th>
      <th>Somme agrégée des ventes</th>
    </tr>
    <% @lines.each do |t| -%>
        <tr>
          <td>
            <%= link_to action: 'show', id: t[0] do -%><b><%= t[1] %></b><% end %>
          </td>
          <td>
            <%    if !t[2].nil? %>
                <span><%=t[2] %>€</span>
            <%    else %>
                <span> aucune vente effectuée </span>
            <%    end %>
          </td>
        </tr>
    <% end -%>
  </table>
</div>

<div class="table-actions">
  <%= link_to :action=> :new do %>+Ajouter<% end %>
</div>