<h1>Listes des traders</h1>
<hr />
<p>Voici la liste des traders</p>

<table>
<% @lines.each do |t| -%>
    <tr>
      <td>
        <b><%= t[1] %></b>
      </td>
      <td>
        <span><%=t[2] %>€</span>
      </td>
    </tr>
<% end -%>
</table>
