<h1>Ajouter un trader</h1>
<hr />
<p>Merci de remplir le formulaire ci-dessous</p>
<%= form_for @trader, :url=>{:action => 'create'} do |t|%>
    <div class="fields">
      <%= t.label :name %>
      <%= t.text_field :name %>
    </div>
    <div class="actions">
      <%= t.submit 'Register' %>
    </div>
<% end %>
